{% extends 'base.html' %}
{% load user_tags %}
{% load i18n %}
{% block content %}
    <div class="container wrapper flex-grow-1">
        
            <h1 class="my-4">{{ title }}</h1>
    
            <div class="d-flex justify-content-left my-4">
                <a class="btn btn-primary btn-sm" href="{% url "create_label" %}" role="button">{% translate "Create label" %}</a>
            </div>
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>{% translate "Name" %}</th>
                        <th>{% translate "Creator" %}</th>
                        <th>{% translate "Creation date" %}</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody method="get">
                    {% for label in label_list %}
                    <tr>
                        <td>{{ label.id }}</td>
                        <td>{{ label.name }}</td>
                        <td>{{ label.creator }}</td>
                        <td>{{ label.creation_date }}</td>
                        <td>
                          <a href="{{ label.get_update_url }}">{% translate "Update" %}</a>
                          <br>
                          <a href="{{ label.get_delete_url }}">{% translate "Delete" %}</a>
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
                
            </table>
    </div>
{% endblock content %}