{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>{{ page_title }}</h2>
        </div>
        <div class="card-header bg-secondary text-white">
            <h2>{{ task.name }}</h2>
        </div>
        <div class="card-body bg-light">
            <p>{{ task.description }}</p>
            <hr>
            <div class="container">
                <div class="row p-1">
                    <div class="col">{% translate "Creator" %}</div>
                        <div class="col">{{ object.creator.full_name }}</div>
                        </div>
                    <div class="row p-1">
                        <div class="col">{% translate "Executor" %}</div>
                        <div class="col">{{ task.executor.full_name }}</div>
                    </div>
                <div class="row p-1">
                    <div class="col">{% translate "Status" %}</div>
                    <div class="col">{{ task.status }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate "Creation date" %}</div>
                    <div class="col">{{ task.creation_date }}</div>
                </div>
                {% if task.labels %}
                <div class="row p-1">
                    <div class="col">
                        <h6>{% translate "Labels" %}:</h6>
                        <ul>
                            {% for label in task.labels.all %}
                            <li>{{ label.name }}</li>
                            {% empty %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                <div class="row p-1">
                    <div class="col">
                        <a href="{% url "update_task" task.pk %}">{% translate "Update" %}</a>
                        <br>
                        <a href="{% url "delete_task" task.pk %}">{% translate "Delete" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}