{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="container wrapper flex-grow-1">
        
            <h1 class="my-4">{{ page_title }}</h1>
    
            <div class="d-flex justify-content-left my-4">
                <a class="btn btn-primary btn-sm" href="{% url "create_task" %}" role="button">{% translate "Create task" %}</a>
            </div>
            
            
    
            <div class="card text-black d-flex justify-content-left my-4" style="border-radius: 5px">
                <div class="card-body bg-light p-md-2">    
                    <form method="get">
                        {% bootstrap_form_errors form %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <div class="d-flex justify-content-left my-3">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    {% translate "Show" %}
                                </button>
                            </div>
                        {% endbuttons %}
                     </form>
                </div>
            </div>
        
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>{% translate "Name" %}</th>
                        <th>{% translate "Status" %}</th>
                        <th>{% translate "Creator" %}</th>
                        <th>{% translate "Executor" %}</th>
                        <th>{% translate "Creation date" %}</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody method="get">
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td><a href="{% url "detail_task" task.pk %}">{{ task.name }}</a></td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.creator.full_name }}</td>
                        <td>{{ task.executor.full_name }}</td>
                        <td>{{ task.creation_date }}</td>
                        <td>
                          <a href="{% url "update_task" task.pk %}">{% translate "Update" %}</a>
                          <br>
                          <a href="{% url "delete_task" task.pk %}">{% translate "Delete" %}</a>
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
                
            </table>
    </div>
{% endblock content %}