{% extends 'index.html' %}
{% load user_tags %}
{% load i18n %}
{% load bootstrap4 %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="container wrapper flex-grow-1">
        
            <h1 class="my-4">{{ title }}</h1>
    
            <div class="d-flex justify-content-left my-4">
                <a class="btn btn-primary btn-sm" href="{% url "create_task" %}" role="button">Create task</a>
            </div>
            
            
    
            <div class="card text-black d-flex justify-content-left my-4" style="border-radius: 5px">
                <div class="card-body bg-light p-md-2">    
                    <form method="get">
                        
                        {{ form }}

                        {% buttons %}
                            <div class="d-flex justify-content-left my-3">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    Показать
                                </button>
                            </div>
                        {% endbuttons %}
                     </form>
                </div>
            </div>
        
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                        <th>Статус</th>
                        <th>Автор</th>
                        <th>Исполнитель</th>
                        <th>Дата создания</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody method="get">
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.creator }}</td>
                        <td>{{ task.executor }}</td>
                        <td>{{ task.creation_date }}</td>
                        <td>
                          <a href="{{ task.get_update_url }}">Изменить</a>
                          <br>
                          <a href="{{ task.get_delete_url }}">Удалить</a>
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
                
            </table>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
{% endblock content %}